@charset "UTF-8";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

/* 공통 CSS */
* {margin: 0px; padding: 0px; box-sizing: border-box;}
body {font-family: 'NanumSquare'; font-size: 12px;}
a {text-decoration: none; cursor: pointer;}
ul {list-style: none;}

/* 스크롤바 CSS */
::-webkit-scrollbar {width: 15px;}
::-webkit-scrollbar-thumb {background-color: #C9CACA; background-clip: padding-box; border-radius: 10px; border: 2.5px solid transparent;}
::-webkit-scrollbar-thumb:hover {background-color: #FFCE32;}
::-webkit-scrollbar-track {background-color: #EFEFEF;}